.about_area{
    padding: 100px 0 95px 0;
    .about_imges{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 65px;
        padding-right: 55px;
        grid-gap: 30px;
        padding-top: 40px;
        position: relative;
        @media #{$tab} {
            grid-template-columns: repeat(1,1fr);
            padding-left: 25px;
            padding-right: 15px;
        }
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background-image: url(../img/about/shape.png);
                width: 170px;
                height: 145px;
                z-index: -1;
            }
        .img_1,
        .img_2{
            
            img{
                width: 100%;
            }
        }
        .img_1{
            position: relative;
            z-index: 1;
        }
        .img_2{
            margin-top: 70px;
            position: relative;
            z-index: 11;
            padding-bottom: 40px;
            @media #{$tab}{
                margin: 30px 0 30px 0;
            }
            &::after{
                content: '';
                position: absolute;
                left: -40px;
                bottom: 0px;
                background-image: url(../img/about/circle.png);
                width: 80px;
                height: 80px;
                z-index: -1;
            }
        }
    }
    .about_content{
        max-width: 570px;
        h3{
            font-size: 36px;
            font-weight: 700;
            line-height: 1.28;
            margin: 18px 0 33px 0;
        }
    }
}

// welcome__service_wrapper 
.welcome__service_wrapper{
    padding: 0 0 67px 0;
    .single_services{
        .thumb{
            border: 1px dashed #e1e2e6;
            padding: 15px;
            border-radius: 50%;
            width: 170px;
            height: 170px;
            margin: auto;
            img{
                width: 100%;
                border-radius: 50%;
            }
        }
        .service_content{
            max-width: 345px;
            margin: auto;
            h3{
                font-size: 24px;
                font-weight: 600;
                margin: 31px 0 18px 0;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 1.63;
                color: #676e8b;
                br{
                    display: inline-block;
                }
            }
        }
    }
}

// about_video_wrapper 
.about_video_wrapper{
    .about_video_inner{
        @include background('../img/about/about_banner.jpg');
        background-size: cover;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{$tab} {
            height: 400px;
        }
    }
}

.quality__info_area{
    padding: 100px 0 89px 0;
    @media #{$tab} {
        padding: 80px 0 69px 0;
    }
    .quality__title{
        h3{
            font-size: 36px;
            font-weight: 700;
            line-height: 1.28;
            @media #{$tab} {
                font-size: 27px;
            }
        }
    }
    .delivery_info{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 70px;
        @media #{$tab} {
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
        }
        .single_del_info{
            display: flex;
            .icon{
                margin-right: 20px;
                img{

                }
            }
            .del_content{
                max-width: 237px;
                h4{
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                    color: #676e8b;
                    line-height: 1.71;
                    margin-bottom: 0;
                    font-weight: 400;
                }
            }
        }
    }
}