.account_info_area{
    padding: 100px 0;
    @media #{$tab} {
        padding: 80px 0;
    }
    .account_profile_wrapper{
        display: grid;
        grid-template-columns: 272px auto;
        grid-gap: 119px;
        @media #{'(min-width: 1200px) and (max-width: 1500.98px) '} {
            grid-gap: 60px;
        }
        .theme_border{
            margin: 30px 0 27px 0;
        }
        @media #{$tab} {
            grid-template-columns: auto;
            grid-gap: 20px;
        }
        @media #{$medium_device} {
            grid-template-columns: auto;
            grid-gap: 40px;
        }
        @media #{$lg_device} {
            grid-template-columns: auto;
            grid-gap: 20px;
        }
        .account_profile_thumb{
            .thumb{
                width: 272px;
                height: 272px;
                margin-bottom: 27px;
                margin-left: auto;
                margin-right: auto;
                @media #{$tab}{
                    width: 200px;
                    height: 200px;
                }
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
            h4{
                font-size: 22px;
                font-weight: 700;
                color:$theme_color;
                margin-bottom: 5px;
            }
            p{
                font-size: 16px;
                font-weight: 500;
                color: #676E8B;
                margin-bottom: 0;
            }
        }
        .account_title{
            margin-bottom: 43px;
            h3{
                margin-bottom: 2px;
            }
        }
        .email_grid_input{
            display: grid;
            grid-template-columns: auto 50px;
            grid-gap: 5px;
            .editor_icon{
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                border: 1px solid #e1e2e6;
                background: #f9f9fd;
                i{
                    font-size: 16px;
                    font-weight: 400;
                    color: #687083;
                }
            }
        }
        .privacy_permission{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-bottom: 56px;
            @media #{$tab}{
                margin-bottom: 36px;
            }
            @media #{$tab} {
                grid-template-columns: repeat(1,1fr);
                grid-gap: 30px;
            }
            .single_privacy_permission{
                display: flex;
                .primary_bulet_checkbox{
                    margin-right: 20px;
                    position: relative;
                    top: 1px;
                }
                .permission_text{
                    .icon{
                        margin-right: 12px;
                        position: relative;
                        top: -3px;
                    }
                    .permission_content{
                        h4{
                            font-size: 18px;
                            font-weight: 600;
                            color: #202E3B;
                            margin-bottom: 0;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            color: #373737;
                            line-height: 24px;
                            br{
                                display: inline-block;
                                @media #{'(min-width: 1200px) and (max-width: 1250.98px) '}{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
