.apply_job_area{
    padding: 100px 0;
    @media #{$tab} {
      padding:71px 0 80px 0;
    }
    .file_upload{
      border: 1px dashed #E1E2E6;
      padding: 45.5px 20px;
      border-radius: 5px;
      .file_upload_inner{
        .thumb{
          margin-bottom: 17px;
          img{

          }
        }
        p{
          font-size: 16px;
          font-weight: 400;
          color: #828BB2;
          margin-bottom: 4px;
          line-height: 1;
        }
        span{
          position: relative;
          overflow: hidden;
          font-size: 16px;
          font-weight: 400;
          color: #4265FF;
          text-decoration: underline;
          input{
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
        }
      }
    }
    .single_apply_wrapper{
      .add_collaspe_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
      }
      .collaspe_form{
        display: none;
      }
    }
    .theme_btn.width_210px {
      @media #{$small_mobile} {
        min-width: 150px;
        padding: 13.5px 15px;
        text-align: center;
      }
    }
}








.gj-picker-md {
    border: 1px solid #fef1f2;
    padding: 10px;
  }
  
  .gj-picker-md table tr td.today div {
    color: #fff;
    background: #FD1C5E;
    border-radius: 50%;
  }
  
  .gj-picker-md table tr td.gj-cursor-pointer div:hover {
    border-radius: 50%;
    background: #FD1C5E;
    color: #fff;
  }
  
  .gj-picker-md div[role="navigator"] div:first-child, .gj-picker-md div[role="navigator"] div:last-child {
    max-width: 42px;
    background: #fef1f2;
    color: $theme_color;
    border-radius: 50%;
    font-size: 14px;
    line-height: 44px;
    height: 42px;
    font-weight: 900;
  }
  
  .gj-picker-md div[role="navigator"] div:first-child i, .gj-picker-md div[role="navigator"] div:last-child i {
    font-weight: 900;
    font-size: 14px;
  }
  .gj-datepicker-md [role="right-icon"] {
	position: absolute;
	right: 0;
	top: 16px;
	font-size: 24px;
	color: #676E8B;
	font-size: 14px;
	right: 20px;
}