.banner_area{
    .big_banner{
       background-image: url(../img/banner/banner_1.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: right;
       padding: 123px 30px 130px 80px;
       min-height: 550px;
       @media #{$tab} {
        padding: 40px 30px;
        background-position: center center ;
        margin-bottom: 30px;
        min-height: 350px;
       }
       @media #{$medium_device} {
           margin-bottom: 30px;
       }
        .banner_text{
            >span{
                font-size: 14px;
                text-transform: uppercase;
                color: $theme_color4;
            }
            h3{
                font-size: 48px;
                font-weight: 700;
                line-height:1.21;
                margin: 10px 0 25px 0;
                @media #{$tab}{
                    font-size: 30px;
                }
            }
            .product_prise{
                display: flex;
                align-items: center;
                margin-bottom: 40px;
                >span{
                    font-size: 16px;
                    font-weight: 400;
                    color:$theme_color ;
                    text-decoration: line-through;
                    display: inline-block;
                    margin-right: 15px;
                }
                h4{
                    font-size: 36px;
                    font-weight: 700;
                    color: $theme_color4;
                    position: relative;
                    margin-bottom: 0;
                    span{
                        font-size: 16px;
                        font-weight: 500;
                        color: $theme_color4;
                        position: absolute;
                        right: -40px;
                        top: -6px;
                    }
                }
            }
        }
        .product_img{
            img{
                width: 100%;
            }
        }
    }
    .small_banner{
        background: #FDF7E3;
        display: flex;
        align-items: center;
        padding: 40px 26px 40px 40px;
        max-height: 260px;
        justify-content: space-between;
        min-height: 260px;
        &.small_banner2{
            background: #F4F7FE;
        }
        .small_banner_text{
            h4{
                font-size: 18px;
                font-weight: 700;
                line-height: 1.44;
                text-transform: uppercase;
            }
            .prise_tag{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                color: #090B17;
                margin: 4px 0 16px 0;
                >span{
                    margin-left: 16px;
                }
                span{
                    font-size: 26px;
                    font-weight: 700;
                    color: $theme_color4;
                    position: relative;
                    span{
                        font-size: 12px;
                        font-weight: 500;
                        position: absolute;
                        right: -27px;
                        top: 6px;
                    }
                }
            }
        }
        .small_img{
            max-width: 181px;
            @media #{$tab} {
                display: none;
            }
            img{
                width: 100%;
                transition: .3s;
                transform: scale(1);
            }
        }
        &:hover{
            .small_img{
                img{
                    transform: scale(1.05);
                }
            }
        }
    }
}

.full_banenr{
    .full_banner_inner{
        @include background ('../img/banner/full_banner.jpg') ;
        background-size: cover;
        padding: 53px 20px 54px 120px ;
        @media #{$tab} {
            padding: 50px 30px ;
        }
        .full_banner_text{
            max-width: 290px;
            >span{

            }
            h4{
                font-size: 30px;
                line-height: 1.33;
                font-weight: 600;
                margin: 5px 0 16px 0;
                @media #{$tab} {
                    font-size: 25px;
                }
            }
        }
    }
}