.billing_address_area{
    padding: 90px 0 100px 0;
    @media #{$tab} {
        padding: 70px 0 80px 0;
    }
}

.error_area{
    padding: 150px 0;
    @media #{$tab} {
        padding: 80px 0;
    }
    .error_inner{
        max-width: 520px;
        margin: 0 auto;
        text-align: center;
        .thumb{
            img{
                max-width: 302px;
                @media #{$tab}{
                    max-width: 200px;
                }
            }
        }
        h3{
            font-size: 48px;
            font-weight: 700;
            color: $theme_color;
            margin:20px 0 13px 0;
            @media #{$tab} {
                font-size: 35px;
            }
        }
        p{
            font-size: 16px;
            font-weight: 400;
            color: #676E8B;
            margin-bottom: 35px;
        }
        a{

        }
    }
}