.blog_area{
    padding: 93px 0 67px 0;
    @media #{$tab} {
        padding: 73px 0 47px 0;
    }
    .single_blog{
        margin-bottom: 30px;
        .thumb{
            overflow: hidden;
            display: block;
            img{
                width: 100%;
                transition: .3s;
                transform: scale(1);
            }
        }
        .blog_content{
            span{
                font-size:14px ;
                font-weight: 400;
                color: #676E8B ;
                display: block;
                margin:27px 0 5px 0;
            }
            h4{
                font-size: 22px;
                font-weight: 700;
                line-height: 1.45;
                transition: .3s;
                &:hover{
                    color: $theme_color4;
                }
            }
        }
        &:hover{
            .thumb {
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
    &.blog_area_page{
        padding: 93px 0 69px 0;
        @media #{$tab} {
            padding: 67px 0 50px 0;
        }
        .single_blog{
            margin-bottom: 27px;
        }
    }
}

.blog_page_area{
    padding: 100px 0 0 0;
    @media #{$tab} {
        padding: 80px 0 0 0;
    }
    .blog_big_img{
        background: #F7F7F7;
        padding: 40px 50px ;
        height: 626px;
        background-image: url(../img/blog/blog_big.jpg);
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        background-position: top center;
        @media #{$tab} {
            padding: 30px 40px ;
            margin-bottom: 30px;
            height:500px;
        }
        @media #{$tab2} {
            margin-bottom: 30px;
        }
        @media #{$lg_device} {
            margin-bottom: 30px;
        }
        .thumb{
            display: block;
            img{
                width: 100%;
            }
        }
        .blog_meta{
            max-width: 332px;
            span{
            font-size: 14px;
            font-weight: 400;
            color:#676E8B ;
            margin-bottom: 10px;
            display: block;
            }
            h4{
                font-size: 22px;
                font-weight: 700;
                line-height: 1.45;
                margin-bottom: 0;
                transition: .3s;
                &:hover{
                    color: $theme_color4;
                }
            }
        }
    }
    .blog_page_gallry{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 23px;
        @media #{$tab} {
            grid-template-columns: repeat(1,1fr);
        }
        .single_blog_galry{
            .thumb{
                display: block;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: .3s;
                    transform: scale(1);
                }
            }
            .blog_content{
                max-width: 300px;
                span{
                    font-size: 14px;
                    font-weight: 400;
                    color: #676e8b;
                    display: block;
                    margin: 16px 0 5px 0;
                }
                h4{
                    font-size: 18px;
                    line-height: 1.56;
                    font-weight: 700;
                    transition: .3s;
                    margin-bottom: 0;
                    &:hover{
                        color: $theme_color4;
                    }
                }
            }
            &:hover{
                .thumb{
                    img{
                        transform: scale(1.1);
                    }
                } 
            }
        }
    }
}