.blog_details_area{
    padding: 92px 0 97px 0;
    @media #{$tab}{
        padding: 75px 0 76px 0;
    }
    .blog_details_inner{
        h3{
            font-size: 36px;
            font-weight: 700;
            line-height: 1.28;
            max-width: 616px;
            @media #{$tab} {
                font-size: 25px;
            }
        }
        p{
            font-size: 16px;
            color: #676e8b;
            font-weight: 400;
            line-height: 26px;
        }
        .blog_details_banner{
            margin: 37px 0 44px 0;
            img{
                width: 100%;
            }
        }
        .quote_text{
            display: flex;
            margin: 40px 0 32px 0;
            .horizontal_line {
                background:#FD1C5E;
                height: 3px;
                width: 90px;
                flex: 90px 0 0;
                position: relative;
                top: 6px;
                margin-right: 30px;
                @media #{$tab}{
                   width: 40px;
                   flex: 40px 0 0;
                   margin-right: 15px;
                }
            }
            h4{
                font-size: 20px;
                font-weight: 700;
                color:  $theme_color;
                line-height: 30px;
               
            }
        }
        .details_info{
            h4{ 
                font-size: 24px;
                font-weight: 700;
                color: $theme_color;
                margin-bottom: 20px;
                @media #{$tab}{
                    font-size: 20px;
                }
            }
            p{

            }
        }
    }
}