.brand_area{
    .main_title{
        display: grid;
        grid-template-columns: 160px auto ;
        grid-gap: 70px;
        align-items: center;
        .dash_border{

        }
    }
    .border_bottom_1px{
        border-bottom: 1px solid #EBEBEB;
    }
    .single_brand{
        text-align: center;
        margin-bottom: 60px;
        img{
            display: inline-block;
            width: auto;
        }
    }
}

.dash_border{
    border-top: 1px dashed #EBEBEB;
}

// cta
.cta_area{
    margin-bottom: 100px;
    @media #{$tab} {
        margin-bottom: 80px;
    }
    .cta_inner{
        position: relative;
        z-index: 1;
        background-image: url(../img/banner/cta_bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 48px 70px 48px 90px;
        display: grid;
        grid-template-columns: 7fr 5fr;
        align-items: center;
        @media #{ '(min-width: 768px) and (max-width: 1199.98px)'} {
            padding: 50px  30px;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
        }
        @media #{$tab} {
            grid-template-columns: 1fr;
            padding: 30px;
        }
        .cta_inner_subscribe{
            padding-right: 50px;
            @media #{ '(min-width: 768px) and (max-width: 1199.98px)'}{
                padding-right: 0;
            }
            @media #{$tab}{
                padding-right: 0;
            }
        }
        &::before{
            content: '';
            position: absolute;
            left: 10px;
            top: 10px;
            right: 10px;
            background: #fff;
            bottom: 10px;
            z-index: -1;
        }
        .cta_inner_text{
            display: flex;
            @media #{$tab}{
                display: block;
            }
            h4{
                font-size: 22px;
                font-weight: 700;
                line-height: 1.45;
                text-align: right;
                margin-bottom: 0;
                @media #{$tab}{
                    font-size: 20px;
                    text-align: left;
                }
                span{
                    display: block;
                    color: $theme_color4;
                }
            }
            .cta_text{
                position: relative;
                padding-left: 30px;
                margin-left: 30px;
                @media #{$tab}{
                    padding: 0;
                    margin: 0;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                &::before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    height: 63px;
                    width: 4px;
                    background: #f5f5f5;
                    @media #{$tab}{
                        display: none;
                    }
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: #676e8b;
                    line-height: 32px;
                    margin-bottom: 0;
                }
            }
        }
        .cta_inner_subscribe{

        }
    }
}