.bradcam_bg_1{
    background-image: url(../img/banner/bradcam_bg_1.jpg);
}
.bradcam_bg_2{
    background-image: url(../img/banner/bradcam_bg_2.jpg);
}
.breadcrumb_area{
    .breadcrumb_iner{
        height: 400px;
        display: flex;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 20px;
        @media #{$tab} {
            background-position: right center;
            height: 300px;
        }
        @media #{$tab2} {
            background-position: right center;
        }
        .bradcam_text{
           width: 100%;
            h3{
                font-size: 48px;
                font-weight: 700;
                color: $theme_color;
                @media #{$tab} {
                    font-size: 30px;
                }
            }
            p{
                font-size: 14px;
                color: $theme_color4;
                font-weight: 600;
                text-transform: uppercase;
                a{
                    color: $theme_color4;
                }
            }
        }
    }
}