.theme_btn{
    background: $theme_color4;
    @include border-radius(5px);
    display: inline-block;
    font-family: $font1;
    font-size: 14px;
    color: $white;
    font-weight: 500;
    padding: 13.5px 47px;
    border: 1px solid transparent;
    text-transform: capitalize;
    display: inline-block;
    transition: .3s;
    cursor: pointer;
    &.small_btn{
        padding: 13.5px 25px;
    }
    &.large_btn{
        padding: 18.5px 30px;
    }
    &.small_btn2{
        padding: 13.5px 39px;
    }
    &.small_btn3{
        padding: 13.5px 32px;
    }
    &.small_btn4{
        padding: 11px 21px;
    }
    &.small_btn5 {
        padding: 8.5px 20px;
    }
    @media #{$small_mobile} {
        padding: 15px 16px;
    }
    &.green_btn{
        background: #54C254 !important;
        padding: 8.5px 18px;
        color:  #fff !important;
        border-color: #54C254 !important ;
        font-size: 16px;
    }
    &.width_120px{
        width: 120px;
        padding: 13.5px 7px;
        text-align: center;
    }
    &.width_210px{
        min-width: 210px;
        padding: 13.5px 20px;
        text-align: center;
    }
    &:hover{
        color: $theme_color4;
        border-color: $theme_color4;
        background: transparent ;
    }
}
.theme_btn2{
    background: $white;
    @include border-radius(5px);
    display: inline-block;
    font-family: $font1;
    font-size: 14px;
    color: $theme_color4;
    font-weight: 500;
    padding: 13.5px 47px;
    border: 1px solid $theme_color4;
    text-transform: capitalize;
    display: inline-block;
    transition: .3s;
    cursor: pointer;
    &.width_120px{
        width: 120px;
        padding: 13.5px 7px;
        text-align: center;
    }
    &:hover{
        color: $white;
        border-color: $theme_color4;
        background: $theme_color4 ;
    }
}
.line_btn{
    display: inline-flex;
    align-items: center;
    color: #FD1C5E;
    font-size: 14px;
    font-weight: 500;
    &:hover{
        color: #FD1C5E;
    }
}

.raduis_30px{
    border-radius: 30px !important;
}
