.shoping_wrapper{
    .dark_overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(4, 8, 34,.40);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        &.active{
            opacity: 1;
            visibility: visible;
        }
    }
    .chart_close{
        @media #{'(min-width: 767.98px)'} {
            display: none;
        }
    }
    .shoping_cart{
        position: fixed;
        top: 0px;
        right: 0;
        background: #fff;
        z-index: 3;
        height: 100%;
        width: 519px;
        padding:210px 30px 40px 40px;
        opacity: 0;
        visibility: hidden;
        overflow: auto;
        transition: .3s;
        @media #{$small_mobile} {
            width: 100%;
            padding: 160px 20px 30px 30px;
        }
        @media #{$large_mobile} {
            padding: 160px 20px 30px 30px;
        }
        
        &.active{
            opacity: 1;
            visibility: visible;
        }
        .shoping_cart_inner{
            .cart_header{
                border-bottom: 1px solid #E1E2E6;
                h4{
                    font-size: 22px;
                    font-weight: 700;
                    color: $theme_color;
                    margin-bottom: 15px;
                }
            }
            .single_cart{
                display: flex;
                border-bottom: 1px solid #E1E2E6;
                align-items: center;
                padding: 20px 0;
                &:last-child{
                    padding-bottom: 60px;
                    margin-bottom: 30px;
                }
                .thumb{
                    width: 120px;
                    margin-right: 30px;
                    img{
                        width: 100%;
                    }
                }
                .cart_content{
                    h5{
                        font-size: 16px;
                        font-weight: 500;
                        font-family: $font1;
                        color:$theme_color;
                        margin-bottom: 4px;
                    }
                    p{
                        font-size: 16px;
                        font-weight: 500;
                        color:#090B17;
                        font-family: $font1;
                        display: flex;
                        align-items: center;
                        .multy_icon{
                            display: inline-block;
                            font-size: 14px;
                            margin-right: 13px;
                            margin-left: 5px;
                            color:$theme_color;
                        }
                        .prise{
                            color: #49A60A;
                        }
                    }
                }
            }
        }
    }
}