.career_extraordinary_area{
    padding: 93px 0 67px 0;
    @media #{$tab} {
        padding: 73px 0 50px 0;
    }
    .section__title3{
        margin-bottom: 57px;
        h3{
            margin-bottom: 23px;
        }
    }
    .career_extraordinary_banner{
        img{
            width: 100%;
        }
    }
    .career_extraordinary_content{
        margin: 40px 0 0 0;
        h4{
            font-size: 30px;
            font-weight: 700;
            color: $theme_color;
            margin-bottom: 22px;
        }
    }
}

.career_wrapper{
    .tab_reverse{
        @media #{$tab} {
            flex-wrap: wrap-reverse;
        }
        @media #{$tab2} {
            flex-wrap: wrap-reverse;
        }
    }
    .career_banner{
        img{
            width: 100%;
        }
    }
    .career_info{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 80px 30px 80px 80px;
        @media #{$tab} {
            padding: 30px 0px 80px 0px;
        }
        .career_info_inner{
            max-width: 525px;
            h3{
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 22px;
                @media #{$tab} {
                    font-size: 25px;
                }
            }
            p{

            }
        }
        .circle_lists{
            li{
                font-size: 14px;
                font-weight: 500;
                display: flex;
                align-items: center;
                color: $theme_color;
                &:not(:last-child){
                    margin-bottom: 8px;
                }
                span{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 2px solid #EBEBEB;
                    margin-right: 15px;
                }
            }
        }
    }
}

.career_available_area{
    padding: 92px 0 63px 0;
    background: #f5f5f5;
    @media #{$tab} {
        padding: 72px 0 43px 0;
    }
    .single_career_available{
        .thumb{
            overflow: hidden;
            img{
                width: 100%;
                transition: .3s;
                transform: scale(1);
            }
        }
        .career_available_content{
            h4{
                font-size: 20px;
                font-weight: 700;
                margin: 20px 0 5px 0;
            }
            p{

            }
        }
        &:hover{
            .thumb{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.availabale_position_area{
    padding: 93px 0 60px 0;
    @media #{$tab} {
        padding: 73px 0 40px 0;
    }
}