.popular_category{
    padding: 95px 0 0 0;
    @media #{$tab} {
        padding: 75px 0 0 0;
    }
    .single_carousel{
        .thumb{
            min-height: 86px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            img{
                width: auto;
                display: inline-block;
            }
        }
        h4{
            margin: 17px 0 1px 0;
        }
    }
}

.Featured_Products_area{
    padding: 96px 0 70px 0;
    @media #{$tab} {
        padding: 74px 0 50px 0;
    }
}
.topSelling_Products_area{
    padding: 0px 0 65px 0;
    @media #{$tab} {
        padding: 0px 0 40px 0;
    }
}