.deal_day_wrapper{
    background-image: url(../img/banner/deal_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding:150px 30px 150px 145px;
    
    @media #{'(min-width: 1500px)'} {
        margin: 0 110px;
    }
    @media #{$medium_device} {
        padding:150px 30px 150px 100px;
    }
    @media #{$lg_device} {
        padding:150px 30px 150px 100px;
    }
    @media #{$tab} {
        margin: 0;
        padding: 75px 20px 75px 20px;
    }
    .deal_day_content{
        max-width: 600px;
        span{

        }
        h3{
            font-size: 48px;
            font-weight: 700;
            line-height: 1.21;
            margin: 17px 0 38px 0;
            @media #{$tab}{
                font-size: 30px;
            }
        }
        .product_prise{
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            >span{
                font-size: 16px;
                font-weight: 400;
                color:$theme_color ;
                text-decoration: line-through;
                display: inline-block;
                margin-right: 15px;
            }
            h4{
                font-size: 36px;
                font-weight: 700;
                color: $theme_color4;
                position: relative;
                margin-bottom: 0;
                span{
                    font-size: 16px;
                    font-weight: 500;
                    color: $theme_color4;
                    position: absolute;
                    right: -40px;
                    top: -6px;
                }
            }
        }
        .end_text{
            border-top: 1px solid rgba(112, 112, 112,.10);
            padding-top: 32px;
            margin-bottom:10px;
        }
        .deals_end_count{
            display: flex;
            align-items: center;
            .single_count{
                &:not(:last-child){
                    margin-right: 60px;
                    @media #{$tab}{
                        margin-right: 25px;
                    }
                }
                >span{
                    font-size: 40px;
                    font-weight: 700;
                    display: block;
                    color: $theme_color;
                    display: flex;
                    align-items: center;
                    position: relative;
                    @media #{$tab} {
                        font-size: 25px;
                    }
                    span{
                        font-weight: 400;
                        position: absolute;
                        top: -5px;
                        left: -16px;
                        @media #{$tab}{
                            top: -3px;
                            left: -10px;
                        }
                    }
                }
                .count_title{
                    font-size: 14px;
                    font-weight: 500;
                    color: #676E8B;
                    text-transform: uppercase;
                    justify-content: center;
                }
            }
        }
    }
}