.template_bg_1{
    background-image: url(../img/template/banner_1.jpg);
}
.template_bg_2{
    background-image: url(../img/template/banner_2.jpg);
}
.template_bg_3{
    background-image: url(../img/template/banner_3.jpg);
}
.white_bg{
    background: #fff !important;
    
}
.padding_35{
    padding: 35px;
    @media #{$small_mobile} {
        padding: 25px 20px;
    }
}
.template_signup_wrapper{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    // template_order_wrapper 
    .theme_btn {
        padding: 13.5px 31px;
    }
    &.template_order_wrapper{
        background: #ECECEC;
        padding-top: 0;
        .logo{
            background: #fff;
            padding: 24px 15px;
            margin-bottom: 15px;
        }
        .banner{
            background-size: cover;
            background-position: center center;
            padding: 0px 20px 0px 56px;
            display: flex;
            align-items: center;
            height: 320px;
            background-repeat: no-repeat;
            
            @media #{$tab} {
                padding: 0px 20px 0px 36px;
            }
            .banner_text{
                max-width: 300px;
                h3{
                    font-size: 30px;
                    font-weight: 700;
                    color: $white;
                    line-height: 40px;
                    margin-bottom: 0px;
                    &.dark_text{
                        color: #090B17;
                        margin-bottom: 15px;
                    }
                }
                p{
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    line-height: 26px;
                    color: #fff;
                    margin: 5px 0 22px 0;
                }
                .white_btn{
                    background: #FFFFFF;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    display: inline-block;
                    font-family: "Jost", sans-serif;
                    font-size: 14px;
                    color: #FD1C5E;
                    font-weight: 600;
                    padding: 13.5px 34px;
                    border: 1px solid transparent;
                    text-transform: capitalize;
                    display: inline-block;
                    transition: .3s;
                    cursor: pointer;
                    &:hover{
                        background: #FD1C5E;
                        color: #fff;
                    }
                }
            }
        }
        .order_placed_info{
            padding: 35px 35px 30px 35px;
            @media #{$small_mobile} {
                padding: 25px 20px;
            }
            h4{
                font-size: 18px;
                font-weight: 600 ;
                margin-bottom: 16px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
            }
        }
        .delivery_detais{
            padding: 33px 35px 25px 35px;
            @media #{$small_mobile} {
                padding: 25px 20px;
            }
            .delivery_list{
                li{
                    display: grid;
                    grid-template-columns: 63px auto;
                    grid-gap: 20px;
                    align-items: center;
                    margin-bottom: 5px;
                    span{
                        font-size: 16px;
                        font-weight: 500;
                        color: $theme_color;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        color:#676E8B;
                    }
                }
            }
        }
        .order_details{
            .order_products{
                display: flex;
                align-items: center;
                margin-top: 25px;
                @media #{$small_mobile} {
                    flex-direction: column;
                }
                .thumb{
                    width: 214px;
                    margin-right: 30px;
                    @media #{$small_mobile}{
                        margin-bottom: 15px;
                    }
                    img{
                        width: 100%;
                    }
                }
                .order_content{
                    p{
                        font-size: 14px;
                        line-height: 2;
                        font-weight: 600;
                        color: $theme_color;
                        margin-bottom: 0;
                    }
                    span{
                        display: block;
                        &.prise_text{
                            font-size: 12px;
                            font-weight: 500;
                            color: #FD1C5E;
                            margin: 0px 0 12px 0;
                        }
                        &.quentity_count{
                            font-size: 12px;
                            font-weight: 500;
                            color: $theme_color;
                        }
                    }
                }
            }
        }
        .product_prise_list{
            padding: 30px 35px 34px 35px;
            @media #{$small_mobile} {
                padding: 25px 20px;
            }
            .border_1px{
                border-bottom: 1px solid #f1f1f1;
                margin: 18px 0 9px 0 ;
            }
            .product_prise_single{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 7px;
                .prist_list_text{
                    font-size: 16px;
                    font-weight: 500;
                    color: $theme_color;
                }
                .prist_list_prise{
                    font-size: 16px;
                    font-weight: 400;
                    color: #676e8b;
                }
            }
        }
        .order_help{
            padding: 29px 35px 29px 35px;
            @media #{$small_mobile} {
                padding: 25px 20px;
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                color: $theme_color;
                margin-bottom: 40px;
            }
            .order_help_single{
                max-width: 490px;
                &:not(:last-child){
                    margin-bottom: 37px;
                }
                h5{
                    font-size: 16px;
                    font-weight: 600;
                    color: $theme_color;
                    margin-bottom: 9px;
                }
                p{
                    font-size: 14px;
                    color: #676e8b;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }
    }

    @media #{$tab} {
        padding:20px 0px;
    }
    .logo{
        margin-bottom: 25px;
    }
    .banner{
        background-size: cover;
        background-position: center center;
        padding: 0px 20px 0px 56px;
        display: flex;
        align-items: center;
        height: 320px;
        background-repeat: no-repeat;
        @media #{$tab} {
            padding: 0px 20px 0px 36px;
        }
        .banner_text{
            max-width: 276px;
            h3{
                font-size: 30px;
                font-weight: 700;
                color: $white;
                line-height: 40px;
                margin-bottom: 22px;
            }
            a{

            }
        }
    }
    // template_main_content 
    .template_main_content{
        margin-top: 50px;
        p{
            line-height: 28px;
        }
        .services_grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
            max-width: 470px;
            margin: 45px auto 51px auto;
            @media #{$tab}{
                grid-template-columns: repeat(1,1fr);
            }
            .single_service{
                background: #FC5441;
                display: flex;
                align-items: center;
                padding:21px 30px;
                border-radius: 5px;
                &:nth-child(2){
                    background: #6A50B1;
                }
                &:nth-child(3){
                    background: #1EBAEA;
                }
                &:nth-child(4){
                    background: #98C90E;
                }
                .icon{
                    margin-right: 15px;
                }
                h4{
                    text-align: left;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    color: $white;
                    margin-bottom: 0;
                }
            }
        }
        .template_contact{
            p{
                line-height: 28px;
                position: relative;
            }
        }
        .product_review{
            margin: 0 0 53px 0;
            @media #{$small_mobile}{
                margin: 0 0 33px 0;
            }
            .product_reiews{
                margin-top: 44px;
                @media #{$small_mobile}{
                    margin-top: 24px;
                }
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                color: #090B17;
                text-align: left;
            }
            p{
                font-size:16px ;
                font-weight: 500;
                color: #676E8B;
                text-align: left;
            }
            .product_reiews_inner{
                display: flex;
                align-items: center;
                margin: 16px 0 44px 0;
                @media #{$small_mobile} {
                    display: block !important;
                }
                .thumb{
                    width: 180px;
                    margin-right: 40px;
                    @media #{$small_mobile} {
                        margin: 20px auto;
                    }
                    img{
                        width: 100%;
                    }
                }
                .product_reiews_content{
                    text-align: left;
                    @media #{$small_mobile} {
                        text-align: center;
                    }
                    span{
                        font-size: 16px;
                        font-weight: 600;
                        color: $theme_color;
                    }
                    .stars{
                        display: flex;
                        align-items: center;
                        margin: 10px 0 30px 0;
                        @media #{$small_mobile} {
                            justify-content: center;
                        }
                        i{
                            color: #E6E4E4;
                            font-size: 20px;
                            &:not(:last-child){
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
    .themplate_download_app{
        background: #F7F7F7;
        padding: 46px 30px 50px 30px;
        margin-top: 50px;

        p{
            margin: 9px 0 16px 0;
        }
        .download_Links{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                display: inline-block;
                margin: 0 5px;
            }
        }
    }
    .template_footer{
        text-align: center;
        max-width: 476px;
        margin: 26px auto 4px auto;
        p{
            font-size: 10px;
            line-height: 18px;
            font-weight: 500;
            color: #676E8B;
            margin-bottom: 18px;
        }
    }
}