footer{
    position: relative;
    background-size: cover;
    background-position: top center;
    background: #F5F5F5;
    .footer_top_area{
        padding-top: 50px;
        padding-bottom: 55px;
        border-bottom: 1px solid rgba(255,255,255,.05);
        .footer_product{
            display: grid;
            grid-template-columns: auto 530px;
            grid-gap: 40px;
            @media #{$tab} {
                grid-template-columns: repeat(1,1fr);
                grid-gap: 30px;
            }
            @media #{$medium_device} {
                grid-template-columns: repeat(2,1fr);
                grid-gap: 30px;
            }
            @media #{$lg_device} {
                grid-template-columns: repeat(2,1fr);
                grid-gap: 30px;
            }
            .footer_product_left{
                background-image: url(../img/footer/1.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: right center;
                @media #{$tab}{
                    background-position: center center;
                }
                @media #{$lg_device}{
                    background-position: center center;
                }
                @media #{$medium_device}{
                    background-position: center center;
                }
            }
            .footer_product_right{
                background-image: url(../img/footer/2.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: right center;
            }
            .footer_product_left,
            .footer_product_right{
                padding: 25px 40px;
                @media #{$tab}{
                    padding: 25px 20px;
                }
                h4{
                    font-size: 22px;
                    font-weight: 700;
                    color: $white;
                    margin-bottom: 0;
                }
                span{
                    font-size: 14px;
                    font-weight: 700;
                    color: $white;
                }
            }
        }
    }
    .main_footer_wrap{
        padding-top: 0px;
        padding-bottom: 40px;
        .footer_widget{
            margin-bottom: 30px;
            .footer_logo{
                margin-bottom: 10px;
            }
            .footer_title{
                h3{
                    font-family: $font1;
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 16px;
                    text-transform: capitalize;
                }
            }
            .footer_links{
                li{
                    a{
                        font-size: 14px;
                        font-weight: 500;
                        color: #656565;
                        line-height: 30px;
                        font-family: $font1;
                        &:hover{
                            color: $theme_color4;
                        }
                    }
                }
            }
            .address_list{
                max-width: 270px;
                p{
                    font-size: 14px;
                    color: #656565;
                    margin-bottom: 0;
                    line-height: 1.86;
                    font-weight: 500;
                    margin-bottom: 15px;
                    &:not(:last-child){
                        margin-bottom: 0;
                    }
                    span{
                        font-weight: 700;
                    }
                }
            }
           
        }
    }
    .copyright_area{
        padding-bottom: 47px;
        .footer_border{
            border-top: 1px solid #E4E4E4;
            margin-bottom: 21px;
        }
        .copy_right_text{
            margin-bottom: 30px;
            p{
                margin-bottom: 0;
                font-size: 14px;
                color: #656565 ;
                font-weight: 500;
                a{
                    color: $theme_color4 ;
                }
            }
        }
        .payment_imgs{
            text-align: right;
            margin-bottom: 30px;
            @media #{$tab} {
                text-align: left;
            }
        }
    }
}

.theme_mailChimp {
    // height: 50px;
    background: transparent ;
    flex-wrap: nowrap;
    border-radius: 5px;
    position: relative;
    
    form{
        display: grid;
        grid-template-columns: auto 120px ;
        grid-gap: 0px;
        border: 1px solid #F1F1F1;
        border-radius: 5px;
        @media #{$small_mobile} {
            grid-template-columns: auto;
        }
    }
    .form-control{
        background: $white ;
        color:$theme_color;
        font-weight: 400;
        padding-left: 20px;
        border-radius: 5px 0 5px 0;
        height: 50px;
        border: 0;
        font-family: $font1;
        border: 0;
        border-right: 0;
        font-size: 14px;
        @media #{$small_mobile} {
            border-radius: 5px
        }
        &::placeholder{
            color: #676E8B;
            font-size: 14px;
        }
        &:focus{
            box-shadow: none !important;
            z-index: 1;
        }
    }
    button{
        font-size: 14px;
        font-weight: 500;
        color: $white;
        background: $theme_color4;
        text-transform: capitalize;
        border-radius: 5px !important;
        padding: 0 18px;
        box-shadow: none !important;
        // width: 100px;
        position: relative;
        right: 0;
        top: 0;
        border: 0;
        height: 50px;
        @media #{$small_mobile} {
            border-radius: 5px !important
        }
    }
    .info {
        font-size: 14px;
        font-weight: 500;
        color: $theme_color;
        position: absolute;
        left: 0;
        top: 110%;
    }
}
