.infix_login_area{
    display: flex;
    justify-content: center;
    padding: 120px 0 200px 0;
    @media #{$tab} {
        padding: 0px 0;
    }
    .login_area_inner{
        max-width: 690px;
        padding: 100px 120px;
        background-image: linear-gradient(to bottom, rgba(255, 234, 239,.1), rgba(64, 232, 221,.1));
         @media #{$small_mobile}{
             padding: 60px 15px 77px 15px;
         }
         @media #{$large_mobile}{
            padding: 60px 45px 77px 45px;
        }
        h4{
           font-size: 26px;
           line-height: 1.38; 
           color: $theme_color;
           margin-bottom: 40px;
           font-weight: 700;
           max-width: 351px;
           @media #{$tab} {
            font-size: 20px;
           }
        }
        .login_with_links{
            a{
                background: #ea4335;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 14.5px;
                color: #fff;
                display: block;
                margin-bottom: 10px;
                text-align: center;
                position: relative;
                &.Facebook_bg{
                    background: #395799;
                }
                &.twitter_bg{
                    background: #03ABF0;
                }
                i{
                    position: absolute;
                    left: 0;
                    font-size: 16px;
                    color: #fff;
                    left: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .sign_up_text{
            font-size: 14px;
            font-weight: 500;
            color: $theme_color;
            margin-top: 18px;
            a{
                color: #4183FF;
            }
        }
    }
    .remember_pass{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 22px;
        .label_name{
            color: #676E8B;
        }
        .forgot_pass{
            font-size: 14px;
            font-weight: 500;
            color:#5DABFC ;
            &:hover{
                color: $theme_color4;
            }
        }
    }
    .primary_line_input{
        background: transparent ;
        padding-bottom: 5px;
    }
}

.custom_group_field{
    border-bottom: 1px solid rgba(104, 112, 130,.2);
    span{
        background: transparent ;
        border: 0;
        padding: 0;
        width: 20px;
        text-align: left;
        padding-bottom: 10px;
    }
    input{
        border: 0;
        font-size: 14px;
        font-weight: 400;
        font-family: $font1;
        box-shadow: none !important;
        padding-bottom: 14px;
        padding-left: 7px;
        color: $theme_color;
        background: transparent !important;
        box-shadow: none !important;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: #676E8B;
        }
    }
}

.login_modal{
    .close_modal {
        position: absolute;
        right: 15px;
        z-index: 10;
        top: 15px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 15px;
        border-radius: 50%;
        transition: .3s;
        display: inline-block;
        &:hover{
            background: #FD1C5E;
            color: #fff;
            transform: rotate(90deg);
        }
        i {
            line-height: 30px;
            font-size: 14px;
        }
    }
    .modal-content{
        border: 0;
    }
    .infix_login_area{
        padding: 0;
    }
    .modal-body{
        padding: 0;
    }
    .modal-dialog{
        max-width: 690px;
    }
}