.my_order_area{
    padding: 89px 0 100px 0;
    @media #{$tab} {
        padding: 69px 0 80px 0;
    }
}
.table.my_order_table{
    border-radius: 5px;
    border-collapse: collapse;
    border-radius: 5px;
    // border-style: hidden;

    thead{
        tr{
            th{
                font-size: 16px; 
                font-weight: 500;          
                color: $theme_color;
                border-top: 0;
                border-bottom: 0;
                padding: 10px 10px 10px 30px;
                font-family: $font1;
                border-bottom: 1px solid #F1F1F1;
                padding-left: 0;
            }
        }
    }
    tbody{
        tr{
            td{
                font-family: $font1;
                color: #676E8B;
                font-size: 16px;
                vertical-align: middle;
                padding: 20px 30px 20px 0;
                white-space: nowrap;
                font-weight: 400;
                border-bottom: 1px solid #F1F1F1;
                padding-left: 0;
                // &:nth-child(1){
                //     border-top: 1px solid #E1E2E6;
                // }
                // &:last-child{
                //     border-top: 1px solid #E1E2E6;
                // }
            }
        }
    }
}



// my_address_area 
.my_address_area{
    padding: 91px 0 70px 0;
    @media #{$tab} {
        padding: 80px 0 50px 0;
    }
    .my_address_inner{
        max-width: 690px;
        margin: 0 auto;
        .notify_text{
            display: flex;
            align-items: center;
            background: #fcfcfc;
            border-radius: 5px;
            padding: 12px 20px;
            margin: 45px 0 45px 0;
            i{
                font-size: 18px;
                font-weight: 400;
                color:#fd1c5e;
                margin-right: 20px;
            }
            p{
                font-size: 16px;
                color: #676e8b;
                font-weight: 400;
                margin-bottom: 0;
            }
        }
        .single_addressLine{
            h3{
                font-size: 30px;
                color: $theme_color;
                font-weight: 700;
                margin-bottom: 13px;
                .edit_text{
                    margin-left: 39px;
                    position: relative;
                    display: inline-block;
                    top: 4px;
                }
                @media #{$tab} {
                    font-size: 25px;
                }
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #676e8b;
                line-height: 1.63;
                margin-bottom: 17px;
                br{
                    display: inline-block;
                }
            }
            .theme_btn{
                margin-top: 15px;
            }
        }
    }
}