.newsletter_form_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 17, 52,.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    @media #{$tab} {
        display: none !important;
    }
    &.newsletter_active{
        opacity: 1;
        visibility: visible;

    }
    .newsletter_form_inner{
        width: 848px;
        background: #FFFFFF;
        height: 448px;
        display: grid;
        grid-template-columns: 327px auto;
        position: relative;
        @media #{$medium_device} {
            width: 90%;
        }
        .close_modal {
            position: absolute;
            right: 15px;
            z-index: 10;
            top: 15px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 15px;
            border-radius: 50%;
            transition: .3s;
            display: inline-block;
            i{
                line-height: 30px;
                font-size: 14px;
            }
            &:hover{
                background: #FD1C5E;
                color: #fff;
                transform: rotate(90deg);
            }
        }
        @media #{$tab} {
            grid-template-columns: auto;
            height: 600px;
            overflow: auto;
        }
        .newsletter_form_thumb{
            height: 100%;
            background-image: url(../img/newsletter_bg.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            @media #{$tab}{
                height: 300px;
            }
        }
        .newsletter_form{
            padding: 90px 70px 70px 70px;
            @media #{$tab}{
                padding: 50px 30px 50px 30px;
            }
            .primary_input3{
                border-radius: 5px;
            }
            h3{
                font-size: 30px;
                font-weight: 700;
                color: $theme_color;
                margin-bottom: 0;
            }
            p{
                font-size: 14px;
                font-weight: 500;
                line-height: 26px;
                color: #676E8B;
                margin: 15px 0 25px 0;
            }
        }
    }
}