.primary_checkbox {
    display: inline-block;
    position: relative;
    margin: 0;
    align-items: center;
    h5{
        font-size: 14px;
        font-weight: 500;
        font-family: $font1;
        color: $theme_color;
        margin-bottom: 0;
    }
    .label_name{
        font-size: 14px;
        font-weight: 500;
        font-family: $font1;
        color: #656565;
        margin-bottom: 0;
    }
    &.white_checkbox{
      .checkmark:after{
        border-color: $white;
      }
    }
    .checkmark{
        position: relative;
        width: 18px;
        height: 18px;
        top: 0;
        left: 0;
        display: block;
        cursor: pointer;
        line-height: 18px;
        flex: 18px 0 0;
        border-radius: 3px;
    }
    // .checkmark:after {
    //     content: "";
    //     position: absolute;
    //     display: none;
    // }
    input{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
    }
   input:checked ~ .checkmark:after {
    // background: linear-gradient(90deg, #7C32FF 0.47%, #C738D8 100%);
    width: 100%;
    height: 100%;
    border: 0;
    // box-shadow: 0px 5px 10px rgba(108, 39, 255, 0.25);
    transition: .3s;
    transform: scale(0);
      }
   input:checked ~ .checkmark{
    background: $theme_color4;
    // width: 100%;
    // height: 100%;
    transition: .3s;
      }
    input:checked ~ .checkmark::before {
        content: "\e64c";
        font-family: "themify";
        position: absolute;
        display: block;
        top: 0px;
        left: 3px;
        text-indent: 1px;
        color: #828BB2;
        background-color: transparent;
        border: 0px;
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        transform: rotate(8deg);
        font-size: 10px;
        font-weight: 600;
        line-height: 18px;
        z-index: 99;
        color: #fff;
        transition: .3s;
    }
    
 .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #E9E7F7;
    transition: .3s;
    transform: scale(1);
  }
}

.round_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  width: 35px;
  height: 35px;
  h5{
      font-size: 14px;
      font-weight: 500;
      font-family: $font1;
      color: $theme_color;
      margin-bottom: 0;
  }
  .label_name{
      font-size: 14px;
      font-weight: 500;
      font-family: $font1;
      color: #656565;
      margin-bottom: 0;
  }
  &.white_checkbox{
    .checkmark:after{
      border-color: $white;
    }
  }
  .checkmark{
      position: relative;
      width: 35px;
      height: 35px;
      top: 0;
      left: 0;
      display: block;
      cursor: pointer;
      line-height: 18px;
      flex: 35px 0 0;
      border-radius: 50%;
      border: 1px solid #F1F1F1;
  }
  input{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
  }
 input .checkmark{
  }
 input:checked ~ .checkmark{
   border-color: $theme_color4 ;
  }
  .checkmark::before {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      background: $theme_color4;
      border-radius: 50%;
      left: 4px;
      top: 4px;
  }
  input:checked ~ .checkmark::after {
      border-color: $theme_color4;
  }
  .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 50%;
    transition: .3s;
    transform: scale(1);
  }

  &.black_check{
    input:checked ~ .checkmark{
      border-color: #000000 ;
     }
    .checkmark::before{
      background: #000;
    }
  }

  &.blue_check{
    input:checked ~ .checkmark{
      border-color: #1F73BE ;
     }
    .checkmark::before{
      background: #1F73BE;
    }
  }
  &.gray_check{
    input:checked ~ .checkmark{
      border-color: #D6D6D6 ;
     }
    .checkmark::before{
      background: #D6D6D6;
    }
  }
  &.paste_check{
    input:checked ~ .checkmark{
      border-color: #81D742 ;
     }
    .checkmark::before{
      background: #81D742;
    }
  }
  &.brouwn_check{
    input:checked ~ .checkmark{
      border-color: #DD9A32 ;
     }
    .checkmark::before{
      background: #DD9A32;
    }
  }
  &.violate_check{
    input:checked ~ .checkmark{
      border-color: #8224E2 ;
     }
    .checkmark::before{
      background: #8224E2;
    }
  }
  &.red_check{
    input:checked ~ .checkmark{
      border-color: #EF3736 ;
     }
    .checkmark::before{
      background: #EF3736;
    }
  }
  &.yellow_check{
    input:checked ~ .checkmark{
      border-color: #EEEE22 ;
     }
    .checkmark::before{
      background: #EEEE22;
    }
  }

}

  .play_button{
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    color: $theme_color;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    position: relative;
    font-size: 24px;
    transition: .3s;
    cursor: pointer;
    &:hover{
        background: $theme_color4;
        color: $white;
    }
}

.theme__overlay{
  position: relative;
  z-index:2;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0A0B21;
    opacity: .4;
    z-index: -1;
  }
}

.lms_tabmenu{
  background: #F8F8FE;
  border-radius: 10px;
  display: inline-flex;
  li{
    a{
      font-size: 16px;
      font-weight: 600;
      font-family: $font1;
      color: $theme_color;
      border-radius: 10px;
      padding: 13px 39px;
      @media #{$tab} {
        padding: 13px 30px
      }
      @media #{$large_mobile} {
        padding: 13px 27px;
      }
      &.active{
        background: $theme_color4;
        color: $white;
        border-radius: 10px;
      }
    }
  }
}

.theme_border{
  border-top: 1px solid #E9E7F7; 
}

.theme_according{
  button{
    &::before {
      left: 5px;
      position: absolute;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      content: "\e622";
      font-family: 'themify';
      font-size: 10px;
      color: $theme_color;
      font-weight: 400;
      top: 14px;
    }
    &.collapsed::before {
      content: "\e61a";
      font-family: 'themify';
    
    }
  }
}
.theme_according{
  .card{
    margin-bottom: 15px;
    border: 0;
    .card-header{
      border: 0;
      border-bottom: 1px solid #f1f1f1;
      border-radius: 0px;
      background: transparent ;
      padding: 0;
      h5{
        button{
          font-family: $font1;
          font-size: 16px;
          font-weight: 500;
          color: $theme_color;
          display: flex;
          justify-content: space-between;
          width: 100%;
          border: 0;
          padding: 11.5px 25px 11.5px 30px;
          text-decoration: none !important;
          text-align: left;
          @media #{$tab} {
            flex-wrap: wrap;
          }
          span{
            font-size: 14px;
            font-weight: 500;
            font-family: $font1;
            color: $theme_color;
          }
        }
      }
    }
  }
  .card-body{
    padding: 0;
    padding-top: 0px;
    background: #fcfcfc;
    padding: 30px 65px 36px 58px;
    margin-top: 30px;
    @media #{$tab}{
      padding: 30px 25px 36px 48px;
    }
    h5{
      font-size: 16px;
      font-weight: 500;
      color: $theme_color;
      margin-bottom: 12px;
      position: relative;
      i{
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 10px;
        color: $theme_color;
        left: -20px;
      }
    }
    p{
      font-size: 16px ;
      font-weight: 400;
      color: #676e8b;
      line-height: 1.63;
      margin-bottom: 0;
    }
  }
}

.primary_bulet_checkbox {
  display: inline-block;
  position: relative;
  margin: 0 ;
  align-items: center;
  h5{
      font-size: 16px;
      font-weight: 500;
      font-family: $font1;
      color: $theme_color;
      margin-bottom: 0;
  }
  .label_name{
      font-size: 16px;
      font-weight: 500;
      font-family: $font1;
      color: $theme_color;
      margin-bottom: 0;
  }
  &.white_checkbox{
    .checkmark:after{
      border-color: $white;
    }
  }
  .checkmark{
      position: relative;
      width: 18px;
      height: 18px;
      top: 0;
      left: 0;
      display: block;
      cursor: pointer;
      line-height: 18px;
      flex: 18px 0 0;
      border-radius: 50%;
  }
  // .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  // }
  input{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
  }
  input:checked ~ .checkmark:after {
  width: 100%;
  height: 100%;
  transition: .3s;
  transform: scale(1);
  border-color: $theme_color4;
    }
  input:checked ~ .checkmark{
  // background: $theme_color4;
  // width: 100%;
  // height: 100%;
  transition: .3s;
    }
  input:checked ~ .checkmark::before {
      transform: translate(-50% ,-50%) scale(1) ;
  }
  .checkmark::before {
    position: absolute;
    background: $theme_color4;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%) scale(0) ;
    transition: .3s;
}
.checkmark:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  width: 18px;
  height: 18px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #E9E7F7;
  transition: .3s;
  transform: scale(1);
}
}