.product_details_wrapper{
    padding: 100px 0 53px 0;
    @media #{$tab} {
        padding: 80px 0 33px 0;
    }
    .products_imgs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        .single_product_image{
            overflow: hidden;
            img{
                width: 100%;
                transition: .3s;
                transform: scale(1);
            }
            &:hover{
                img{
                    transform: scale(1.3);
                }
            }
        }
    }
    .product_content_details{
        max-width: 540px;
        @media #{$xl_device} {
            padding-left: 30px;
        }
        h3{
            font-size: 30px;
            font-weight: 700;
            color: $theme_color;
            margin: 25px 0 11px 0;
        }
        .details_text{
            margin: 24px 0 24px 0;
        }
        .product_ratings{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #F1F1F1;
            padding-bottom: 20px;
            .stars{
                display: flex;
                align-items: center;
                margin-right: 15px;
                i{
                    font-size: 15px;
                    color: #FFC107;
                    &:not(:last-child){
                        margin-right: 4px;
                    }
                }
            }
            span{
                font-size: 14px;
                font-weight: 500;
                color:#676E8B ;
            }
        }
        .product_info{
            .single_pro_varient{
                margin-bottom: 30px;
                display: grid;
                grid-template-columns: 52px auto;
                grid-gap: 15px;
                align-items: center;
                .color_List{
                    label{
                        &:not(:last-child){
                            margin-right: 10px;
                        }
                    }
                }

                .product_size{
                    display: flex;
                    align-items: center;
                    li{
                        font-size: 16px;
                        font-weight: 600;
                        color: $theme_color;
                        border: 1px solid #E1E2E6;
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        text-align: center;
                        line-height: 38px;
                        text-transform: uppercase;
                        flex: 40px 0 0;
                        cursor: pointer;
                        &.active{
                            border-color: $theme_color4;
                            background: $theme_color4;
                            color: $white;
                        }
                        &:not(:last-child){
                            margin-right: 10px;
                        }
                    }
                }
            }
            .add_wishCard{
                .add_wish_list{
                    font-size: 14px;
                    font-weight: 600;
                    color:#676E8B ;
                    display: inline-flex;
                    align-items: center;
                    i{
                        font-size: 22px;
                        color: #090B17;
                        margin-right: 15px;
                    }
                }
            }
        }
        .pro_branding_info{
            border-top: 1px solid $b_color;
            padding-top: 28px;
            margin-top: 40px;
            .single_branding{
                display: grid;
                grid-template-columns: 79px auto;
                grid-gap: 15px;
                margin-bottom: 1px;
                &:last-child{
                    margin-top: 8px;
                }
                span{
                    font-size: 14px;
                    font-weight: 600;
                    color: $theme_color;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-transform: uppercase;
                }
                p{
                    font-size: 16px;
                    color: #676E8B;
                    font-weight: 400;
                }
            }
        }
    }
    .social_links{
        display: flex;
        align-items: center;
        li{
            &:not(:last-child){
                margin-right: 10px;
            }
           a{
               width: 30px;
               height: 30px;
               border-radius: 50%;
               color: #fff;
               text-align: center;
               line-height: 30px;
               font-size: 12px;
               transition: .3s;
               &:hover{
                   background: $theme_color4 !important;
               }
               &.facebook_bg{
                   background: #3B5998;
               }
               &.twitter_bg{
                   background:#1DA1F2;
               }
               &.linkedin_bg{
                   background: #DD5143;
               }
           } 
        }
    }
}


// product_des_review_wrapper 
.product_des_review_wrapper{
    .shop_tab{

    }
    .shop_tab_content{
        .description_content{
            padding: 30px 0 80px 0;
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                color: $theme_color;
            }
            .Specifications{
                h4{
                    font-size: 22px;
                    font-weight: 600;
                    color: $theme_color;
                    margin: 52px 0 30px 0;
                }
                .Specifications_list{
                    .single_specif{
                        display: grid;
                        grid-template-columns: 152px auto ;
                        grid-gap: 30px;
                        margin-bottom: 13px;
                        span{
                            font-size: 14px;
                            font-weight: 600;
                            color: $theme_color;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        p{
                            font-size: 14px;
                            color: #676E8B;
                            font-weight: 400;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.shop_tab{
    border-bottom: 1px solid #EBEBEB;
    li{
        a{
            font-size: 20px;
            font-weight: 600;
            color: $theme_color;
            position: relative;
            padding: 10px;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                height: 3px;
                width: 100%;
                background: #FD1C5E;
                left: 0;
                transition: .3s;
                opacity: 0;
            }
            &.active,&:hover{
                color: $theme_color4;
                &::before{
                    opacity: 1;
                }
            }
        }
    }
}

// sujjested_prosuct_area 
.sujjested_prosuct_area{
    padding: 0px 0 70px 0;
    .seperator_line{
        padding-bottom: 94px;
        @media #{$tab} {
            padding-bottom: 64px;
        }
    }
    .sujjested_prosuct_wrap{
        margin-left: 1px;
        .product_wized{
            margin-right: -1px;
        }
    }
}


// review 
.product_reviews_wrapper{
    padding: 56px 0 40px 0;
    .details_title{
        margin-bottom: 38px;
        h4{
            margin-bottom: 3px;
        }
        >p{
            color: #6C738F;
        }
    }
    .course_feedback{
        display: flex;
        padding-top: 13px;
        @media #{$tab} {
            flex-direction: column;
        }
        .course_feedback_left{
            padding-right: 55px;
            margin-bottom: 30px;
            h2{
                font-size: 60px;
                font-weight: 700;
                color: $theme_color4;
                margin-bottom: 0;
                line-height: 1;
            }
            .feedmak_stars{
                display: flex;
                align-items: center;
                margin: 8px 0 8px 0;
                i{
                    color: #FFC107;
                    font-size: 17px;
                    &:not(:last-child){
                        margin-right: 5px;
                    }
                }
            }
            span{
                font-family: $font1;
                font-size: 14px;
                font-weight: 500;
                color:#6c738f ;
            }
        }
        .feedbark_progressbar{
            width: 100%;
            .single_progrssbar{
                display: grid;
                grid-template-columns: minmax(max-content, 100%) repeat(2,1fr);
                // grid-gap: 30px;
                align-items: center;
                margin-bottom: 20px;
                // @media #{$tab}{
                //     grid-gap: 15px;
                // }
                .progress{
                    height: 10px;
                    background-color: #e8e8ed;
                    border-radius: 30px;
                    margin-right: 30px;
                    @media #{$tab}{
                        margin-right: 15px;
                    }
                    .progress-bar{
                        background: $theme_color4;
                        border-radius: 30px;
                    }
                }
                .rating_percent{
                    .feedmak_stars{
                        display: flex;
                        align-items: center;
                        margin: 0;
                        margin-right: 20px;
                        @media #{$tab}{
                            margin-right: 15px;
                        }
                        i{
                            color: #FFC107;
                            font-size: 17px;
                            @media #{$tab}{
                               font-size: 14px;
                            }
                            &:not(:last-child){
                                margin-right: 5px;
                            }
                        }
                    }
                    span{
                        font-family: $font1;
                        font-size: 14px;
                        font-weight: 500;
                        color:#202E3B ;
                    }
                }
            }
        }
    }
    .course_cutomer_reviews{
        border-top: 1px solid #E9E7F7;
        padding-top: 56px;
        margin-top: 36px;
        .details_title{
            margin-bottom: 55px;
            @media #{$tab} {
               margin-bottom: 30px; 
            }
        }
        .single_reviews{
            display: flex;
            border-bottom: 1px solid #E9E7F7;
            padding-bottom: 57px;
            margin-bottom: 60px;
            &:last-child{
                padding-bottom: 0px;
                border: 0;
                margin-bottom: 57px;
                @media #{$tab} {
                    margin-bottom: 30px; 
                 }
            }
            @media #{$tab} {
                padding-bottom: 40px;
                margin-bottom: 40px;
            }
            @media #{$small_mobile} {
                flex-direction: column;
            }
            .thumb{
                font-size: 20px;
                font-weight: 700;
                font-family: $font1;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background: $theme_color4;
                flex: 80px 0 0;
                margin-right: 40px;
                color: $white;
                text-transform: uppercase;
                text-align: center;
                line-height: 80px;
                margin-bottom: 20px;
            }
            .review_content{
                h4{
                    margin-bottom: 0;
                }
                .rated_customer{
                    display: flex;
                    align-items: center;
                    margin: 7px 0 21px 0;
                    .feedmak_stars{
                        display: flex;
                        align-items: center;
                        margin: 0;
                        margin-right: 15px;
                        i{
                            color: #FFC107;
                            font-size: 15px;
                            &:not(:last-child){
                                margin-right: 5px;
                            }
                        }
                    }
                    span{
                        font-size: 14px;
                        font-weight: 500;
                        color: #6c738f ;
                    }
                }
            }
        }
    }
}

.seperator_line{
    border-top: 1px solid #ebebeb;
}