.processing_wrapper{
    padding: 100px 0 65px 0;
    @media #{$tab} {
        padding: 80px 0 45px 0;
    }
    .single_processing{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .icon{
            margin-right: 20px;
        }
        .processign_content{
            h4{
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 4px;
                line-height: 1;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: #676E8B;
                margin-bottom: 0;
            }
        }
    }
}