.prodcuts_area{
    padding: 100px 0;
    @media #{$tab} {
        padding: 70px 0 80px 0;
    }
    .product_category_chose{
        .course_title{
            margin-bottom: 20px;
            svg{
                margin-right: 10px;
            }
        }
        .rating_lists{
            li{
                &:not(:last-child){
                    margin-bottom: 12px;
                }
            }
            .ratings{
                display: flex;
                align-items: center;
                
                i{
                    font-size: 15px;
                    color: #FFC107;
                    margin-right: 4px;
                    &.unrated{
                        color: #F1F1F1;
                    }
                }
                span{
                    font-size: 14px;
                    font-weight: 500;
                    color: #656565;
                    display: inline-block;
                    margin-left: 11px;
                }
            }
        }
    }
    .course_category_inner{
        border: 1px solid #F1F1F1;
        padding: 25px 30px 30px 30px ;
        .single_pro_categry{
            h4{
                font-size: 18px;
                font-weight: 600;
                border-bottom: 1px solid #F1F1F1;
                margin-bottom: 18px;
                padding-bottom: 11px;
                display: block;
            }
            .color_filter{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
                grid-gap: 10px;
                padding: 5px;
                margin-bottom: 30px;
            }
            .filter_wrapper{
                padding-top: 5px;
                #slider-range{
                    background: #F1F1F1;
                    height: 6px;
                    border-radius: 30px;
                    border: 0;
                    .ui-slider-range{
                        background: $theme_color4 ;
                    }
                    .ui-slider-handle{
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        border:1px solid $theme_color4 !important ;
                        background: #fff !important ;
                        top: -3px;
                        &:focus{
                            outline: none;
                        }
                    }
                }
                .prise_line{
                    margin-top: 30px;
                    overflow: hidden;
                    .theme_btn{
                        font-size: 14px;
                        font-weight: 500;
                        display: inline-block;
                        padding: 9px 24px;
                        margin-right: 20px;
                        margin-bottom: 0;
                    }
                    span{
                        font-size: 14px;
                        font-weight: 500;
                        color: #656565;
                    }
                    input{
                        border: 0;
                        font-size: 14px;
                        color: $theme_color4;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .box_header {
        border-bottom: 1px solid #F1F1F1;
        padding-bottom: 14px;
        margin-bottom: 31px;
        .box_header_right{
            @media #{$small_mobile} {
                margin-top: 10px;
            }
        }
    }
    .grid_shorting_style{
        margin-left: 1px;
        .product_wized{
            margin-right: -1px;
            margin-top: -1px;
        }
    }
}

.Check_sidebar{
    li{
        &:not(:last-child){
            margin-bottom: 12px;
        }
    }
}