@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600&display=swap');
body {
	font-family: $font1;
	font-weight: normal;
	font-style: normal;
	font-weight: 400;
	color: #676E8B;
}
.img {
	max-width: 100%;
	@include transition(.3s);
}
a,
.button,
button {
@include transition(.3s);
}
a:focus,
.button:focus,button:focus {
	text-decoration: none;
	outline: none;
}
a:focus{
	text-decoration: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	text-decoration: none;
	// color: #000;
}
input:focus,button:focus{
	outline: none;
}
a,
button {
	outline: medium none;
}
h1,h2,h3,h4,h5{
	font-family: $font1 ;
	color: $theme_color;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

h4{
	font-size: 20px;
	line-height: 25px;
}


ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 16px;
	font-weight:400;
	line-height: 26px;
	color: $text1;
	margin-bottom: 0;
	font-family: $font1;
}

label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-webkit-input-placeholder {
	color: #cccccc;
	font-size: 14px;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #cccccc;
	font-size: 14px;
	opacity: 1;
}
*::-ms-input-placeholder {
	color: #cccccc;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #cccccc;
	font-size: 14px;
	opacity: 1;
}

/* button style */
.owl-carousel {
	.owl-nav div {
		background: #fff ;
		height: 30px;
		line-height: 30px;
		position: absolute;
		text-align: center;
		top: -65px;
		right: 0;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		width: 30px;
		font-size: 12px;
		color: #090B17;
		@include border-radius(50%);
		border: 1px solid #E9E7F7;
	}
	.owl-nav{
		div{
			&.owl-next{
				
			}
			&.owl-prev{
				right: 40px;
			}
		}
	}
	&:hover{
		.owl-nav{
			div{
				opacity: 1;
				visibility: visible;
				&:hover{
					color: $white;
					background: $theme_color4 ;
					border-color: $theme_color4;
				}
			}
		}
	}
}


.mb-85{
	margin-bottom: 85px;
	@media #{$small_mobile} {
		margin-bottom: 30px;
	}
	@media #{$medium_device} {
		margin-bottom: 30px;
	}
	@media #{$lg_device} {
		margin-bottom: 40px;
	}
}
.mb-65{
	margin-bottom: 65px;
	@media #{$small_mobile} {
		margin-bottom: 20px;
	}
}
.mt-80{
	margin-top: 80px;
}
.mb_10{
	margin-bottom: 10px;
}
.mb_15{
	margin-bottom: 15px;
}
.mb_18{
	margin-bottom: 18px;
}
.mb_20{
	margin-bottom: 20px;
}
.mb_23{
	margin-bottom: 23px;
}
.mb_25{
	margin-bottom: 25px;
}
.mb_30{
	margin-bottom: 30px;
}
.mb_35{
	margin-bottom: 35px;
}
.mb_40{
	margin-bottom: 40px;
}
.mb_45{
	margin-bottom: 45px;
}
.mb_37{
	margin-bottom: 37px;
}
.mb_50{
	margin-bottom: 50px;
}
.mb_55{
	margin-bottom: 55px;
}
.mb_60{
	margin-bottom: 60px;
}
.mb_70{
	margin-bottom: 70px;
}
.mb_76{
	margin-bottom: 76px;
}
.mb_80{
	margin-bottom: 80px;
}

.mt_10{
	margin-top: 10px;
}
.mt_20{
	margin-top: 20px;
}
.mt_10{
	margin-top: 10px;
}
.mt_30{
	margin-top: 30px;
}
.mt_40{
	margin-top: 40px;
}
.mt_50{
	margin-top: 50px;
}
.mt_60{
	margin-top: 60px;
}
.mt_70{
	margin-top: 70px;
}

.mb_27{
	margin-bottom: 27px;
}

.mr_15{
	margin-right: 15px;
}
.mr_20{
	margin-right: 20px;
}
.mr_30{
	margin-right: 30px;
}
.mr_40{
	margin-right: 40px;
}
.mr_50{
	margin-right: 50px;
}
.mr_10{
	margin-right: 10px;
}
.pt_70{
	padding-top: 70px;
	@media #{$tab} {
		padding-top: 30px;
	}
}

.xl_mb_60{
	@media #{$xl_device} {
		margin-bottom: 60px;
	}
	margin-bottom: 30px;
}

#back-top {
    position: fixed;
    right: 20px;
    bottom: 30px;
    cursor: pointer;
	z-index: 9999999;
	display: none;
	a {
		display: inline-block;
		height: 40px;
		width: 40px;
		text-align: center;
		display: block;
		color:$white;
		line-height: 40px;
		background: $theme_color4;
		font-size: 15px;
		border-radius: 30px;
		@include transition(.3s);
		@include box-shadow(0px 10px 20px 0px rgba(251, 17, 89,.3));
		}
}
.container{
	@media #{'(min-width: 1200px) '} {
		max-width: 1440px;
	}
}

.section_spacing{
	padding: 139px 0 120px 0;
	@media #{$tab} {
		padding: 65px 0 45px 0;
	}
}
.section_spacing2{
	padding: 120px 0 120px 0;
	@media #{$tab} {
		padding: 45px 0 45px 0;
	}
}
.section_spacing3{
	padding: 139px 0 115px 0;
	@media #{$tab} {
		padding: 65px 0 40px 0;
	}
}
.owl-dots{
	display: flex;
	justify-content: center;
	.owl-dot{
		margin: 0 5px ;
		span{
		width: 10px;
		height: 10px;
		border-radius: 30px;
		background: #d9e3e3;
		display: inline-block;
		transition: .3s;
		&:hover{
			transform: scale(1.2);
		}
		}
		&.active{
			span{
				width: 30px;
			}
		}
	}
}
// font size 
.font_10{
	font-size: 10px;
}
.font_14{
	font-size: 14px;
}
.font_15{
	font-size: 15px;
}
.font_16{
	font-size: 16px;
}
.font_18{
	font-size: 18px;
}
.font_20{
	font-size: 20px;
}
.font_22{
	font-size: 22px;
}
.font_25{
	font-size: 25px;
}
.font_24{
	font-size: 24px;
}
.font_30{
	font-size: 30px;
	line-height: 45px;
	@media #{$tab} {
		font-size: 25px;
		line-height: 35px;
	}
}
.font_40{
	font-size: 40px;
	line-height: 55px;
	@media #{$tab} {
		font-size: 25px;
		line-height: 35px;
	}
}
.font_45{
	font-size: 45px;
}
.font_50{
	font-size: 50px;
}
.font_60{
	font-size: 60px;
}
.font_70{
	font-size: 70px;
}
.font_80{
	font-size: 80px;
}

// font weight 
.f_w_300{
	font-weight: 300;
}
.f_w_400{
	font-weight: 400;
}
.f_w_500{
	font-weight: 500;
}
.f_w_600{
	font-weight: 600;
}
.f_w_700{
	font-weight: 700;
}

.dot_devide{
	display: inline-block !important;
}

.theme_text{
	color: $theme_color4 !important;
}
.theme_text2{
	color: $text1 !important;
}
.theme_text3{
	color: $theme_color !important;
}
.mute_text{
	color: #676E8B;
}
.font_1{
	font-family: $font1;
}
.font_2{
	font-family: $font1;
}


.theme_search_field {
	background: transparent ;
	height: 50px;
	border-radius: 5px;
	width: 400px;
	border: 1px solid #F1F1F1;
	button{
		font-size: 18px;
		color: #FF1C5E;
		padding:0 0 0 20px;
		line-height: 100%;
		box-shadow: none !important;
		&:hover{
			color: #FF1C5E;
		}
	}
	input{
		font-size: 14px;
		font-weight: 400;
		color: #687083;
		font-family: $font1 ;
		border: 0;
		background: transparent !important;
		height: 50px;
		padding: 0px 15px 0px 10px;
		box-shadow: none !important;
		line-height: 50px;
		&::placeholder{
			color: #687083;
		}
	}
	&.large_search_field{
		width: 500px;
		height: 60px;
		button{
			padding-left: 30px;
		}
		input{
			height: 60px;
			line-height: 60px;
		}
	}
}

.small_select{
	border: solid 1px #E9E7F7 !important;
	height: 35px;
	min-width: 180px;
	line-height: 34px;
	padding-left: 20px;
	&::after{
		right: 22px;
		top: 6px;
		color: #676E8B;
		font-size: 10px;
	}
	.current{
		font-family: $font1;
		font-size: 14px;
		font-weight: 500;
		color: #676E8B;
		line-height: 30px;
	}
	.list{
		width: 100%;
		.option{
			font-size: 14px;
			font-weight: 500;
		}
	}
}
.theme_select {
	border: solid 1px #E1E2E6 !important;
	height: 50px;
	line-height: 50px;
	border-radius: 0;
	&.select_transparent{
		background: transparent !important ;
	}
	&::after{
		right: 33px;
		top: 6px;
		color: #676E8B;
		font-size: 12px;
	}
	.current{
		font-family: $font1;
		font-size: 14px;
		font-weight: 500;
		color: #676E8B;
		line-height: 50px;
	}
	.list{
		width: 100%;
		.option{
			font-size: 14px;
			font-weight: 400;
		}
	}
}
.theme_select2 {
	border: 0 !important;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	width: 145px;
	&.select_transparent{
		background: transparent !important ;
	}
	&::after{
		right: 31px;
		top: 6px;
		color: #686F8B;
		font-size: 14px;
	}
	.current{
		font-family: $font1;
		font-size: 14px;
		font-weight: 500;
		color: #686F8B;
		line-height: 40px;
	}
	.list{
		width: 100%;
		.option{
			font-size: 14px;
			font-weight: 400;
			color: #686F8B;
		}
	}
}
.nowrap{
	white-space: nowrap;
}

.pagination_lists{
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	li{
		&:not(:last-child){
			margin-right: 10px;
		}
		a{
			width: 40px;
			height: 40px;
			display: inline-block;
			border: 1px solid #EBEBEB;
			border-radius: 5px;
			flex: 40px 0 0;
			text-align: center;
			line-height: 40px;
			transition: .3s;
			font-size: 16px;
			color: #656565;
			font-weight: 600;
			&:hover{
				background: #FD1C5E;
				border-color: #FD1C5E;
				color: #fff;
			}
			&.active{
				background: #FD1C5E;
				border-color: #FD1C5E;
				color: #fff;
			}
		}
	}
}

.badge_1{
    font-size:14px ;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    background: #fd1c5e;
    border-radius: 30px;
    padding: 4.5px 15px;
}
.badge_2{
    font-size:14px ;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    background: #33C922;
    border-radius: 30px;
    padding: 4.5px 15px;
}
.text_underline{
    text-decoration: underline !important;
}

.cursor_default{
	cursor: default !important;
}