.team_member_area{
    padding-bottom: 52px;
    .single_member{
        .thumb{
            overflow: hidden;
            img{
                width: 100%;
                transform: scale(1);
                transition: .3s;
            }
        }
        .member_info{
            h4{
                font-size: 20px;
                font-weight: 700;
                color: #202E3B;
                margin: 31px 0 0px 0;
                line-height: 28px;
            }
            p{
                font-size: 14px;
                font-weight: 500;
                color: #373737;
                margin-bottom: 0;
            }
        }
        &:hover{
            .thumb{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}